* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

input {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  border: 1px solid black;
  border-width: 3px;
  border-radius: 4px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.menuBar {
  padding: 20px 0px 10px 25px;
}

.menuBar .appTitle {
  font-size: 32px;
  display: inline;
}

.menuBar .github {
  padding-right: 25px;
  float: right;
}

.menuBar ion-icon[name="logo-github"] {
  color: black;
  font-size: 50px;
}

.wrapperTitle {
  padding-top: 10px;
  top: 50%;
  left: 50%;
  text-align: center;
}

.expenseAmount {
  font-size: 40px;
  padding: 10px 0px 10px 0px;
}

.paidAmount {
  font-size: 40px;
  padding: 10px 0px 10px 0px;
}

.owedDisplay {
  height: 33vh;
  text-align: center;
  margin-top: 10px;
  min-height: 280px;
}

.owedDisplay .owedTitle {
  font-size: 20px;
}

.owedDisplay .owedAmount {
  font-size: 50px;
  padding: 10px 0px 10px 0px;
}

.owedDisplay .owedSettled {
  font-size: 14px;
}

.owedDisplay .owedPeople {
  display: inline;
}

.owedDisplay .owedPeopleNum {
  display: inline;
}

.owedDisplay .add {
  padding-top: 15px;
}

.owedDisplay .add .btn-addExpense {
  display: inline;
  padding: 10px 5px 30px 20px;
  cursor: pointer;
}

.owedDisplay .add .btn-addPerson {
  display: inline;
  padding: 10px 0px 30px 0px;
  cursor: pointer;
}

.owedDisplay .addBtns {
  padding-top: 10px;
}

.peopleList {
  height: 67vh;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  max-height: 500px;
}

.peopleList .person {
  border: 1px solid black;
  border-radius: 15px;
  margin: 0px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.peopleList .left {
  width: 50%;
  display: inline-block;
  margin: 0 auto;
}

.peopleList .right {
  width: 50%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.peopleList .peopleTitle {
  font-size: 36px;
  padding: 40px 0px 40px 0px;
}

.peopleList .personName {
  text-align: left;
  font-size: 32px;
  padding: 10px 0px 5px 10px;
}

.peopleList .paidInitial {
  font-size: 14px;
  float: left;
  left: 20px;
  bottom: 10px;
  padding: 5px 0px 10px 10px;
}

.peopleList .owedAmount {
  font-size: 32px;
  padding-right: 10px;
}

.peopleList .btn-pay {
  padding: 8px 20px 0px 20px;
  cursor: pointer;
}

.peopleList .btn-del {
  padding-top: 6px;
  padding-right: 20px;
  cursor: pointer;
}

.addPersonName {
  border-width: 1px;
  border-radius: 1px;
}

.btn-primary {
  background-color: black;
  border-color: black;
}

ion-icon[name="logo-github"]:hover {
  font-size: 55px;
}

ion-icon[name="person-add-outline"]:hover {
  color: #0054ba;
}

ion-icon[name="add-circle-outline"]:hover {
  color: #85bb65;
}

ion-icon[name="cash-outline"]:hover {
  color: #85bb65;
}

ion-icon[name="trash-outline"]:hover {
  color: red;
}
/*# sourceMappingURL=style.css.map */