// Variables
$personColour: #0054ba;
$moneyGreen: #85bb65;

// General 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}

input {
    font-size: 20px;
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    border-width: 3px;
    border-radius: 4px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

// Menu Bar
.menuBar {
    padding: 20px 0px 10px 25px;
    .appTitle {
        font-size: 32px;
        display: inline;
    }
    .github {
        padding-right: 25px;
        float: right;
    }
    ion-icon[name="logo-github"] {
        color: black;
        font-size: 50px;
    }
}

// Main Content
.wrapperTitle {
    padding-top: 10px;
    top: 50%;
    left: 50%;
    text-align: center;
}

.expenseAmount {
    font-size: 40px;
    padding: 10px 0px 10px 0px;
}

.paidAmount {
    font-size: 40px;
    padding: 10px 0px 10px 0px;
}

.owedDisplay {
    height: 33vh;
    text-align: center;
    margin-top: 10px;
    min-height: 280px;
    .owedTitle {
        font-size: 20px;
    }
    .owedAmount {
        font-size: 50px;
        padding: 10px 0px 10px 0px;
    }
    .owedSettled {
        font-size: 14px;
    }
    .owedPeople {
        display: inline;
    }
    .owedPeopleNum {
        display: inline;
    }
    .add {
        padding-top: 15px;
        .btn-addExpense {
            display: inline;
            padding: 10px 5px 30px 20px;
            cursor: pointer;
        }
        
        .btn-addPerson {
            display: inline;
            padding: 10px 0px 30px 0px;
            cursor: pointer;
        }
    }
    .addBtns {
        padding-top: 10px;
    }

}

.peopleList {
    height: 67vh;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    max-height: 500px;

    .person {
        border: 1px solid black;
        border-radius: 15px;
        margin: 0px 0px 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left {
        width: 50%;
        display: inline-block;
        margin: 0 auto;
    }

    .right {
        width: 50%; 
        float: right;
        display: flex;
        justify-content: right;  
    }
    
    .peopleTitle {
        font-size: 36px;
        padding: 40px 0px 40px 0px;
    }

    .personName {
        text-align: left;
        font-size: 32px;
        padding: 10px 0px 5px 10px;
    }

    .paidInitial {
        font-size: 14px;
        float: left;
        left: 20px;
        bottom: 10px;
        padding: 5px 0px 10px 10px;
    }

    .owedAmount{
        font-size: 32px;
        padding-right: 10px;
    }
    .btn-pay {  
        padding: 8px 20px 0px 20px;
        cursor: pointer;
    }

    .btn-del {
        padding-top: 6px;
        padding-right: 20px;
        cursor: pointer;
    }
}

// Modal
.addPersonName {
    border-width: 1px;
    border-radius: 1px;
}

.btn-primary {
    background-color: black;
    border-color: black;
}

// Effects
ion-icon[name="logo-github"]:hover {
    font-size: 55px;
}

ion-icon[name="person-add-outline"]:hover {
    color: $personColour;
}

ion-icon[name="add-circle-outline"]:hover {
    color: $moneyGreen;
}

ion-icon[name="cash-outline"]:hover {
    color: $moneyGreen;
}

ion-icon[name="trash-outline"]:hover {
    color: red;
}

